@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkcyan: #128dba;
  --lightcyan: #4eebf4;
  --darkgray: #101010;
  --lightercyan: #1794bf;
  --lightestcyan: #49e2ef;
  --arrowcyan: #47dfed;
  --lightgray: #d9d9d9;
}

.swiper-button-prev {
  margin-left: 180px !important;
  color: black !important;
  border: 30px solid var(--arrowcyan) !important;
  border-radius: 100% !important;
}
.swiper-button-next {
  margin-right: 180px !important;
  color: black !important;
  border: 30px solid var(--arrowcyan) !important;
  border-radius: 100% !important;
}
.swiper-button-prev::after {
  font-size: 20px !important;
}
.swiper-button-next::after {
  font-size: 20px !important;
}

.swiper-pagination-bullet {
  width: 65px !important;
  height: 8px !important;
  border-radius: 0 !important;
  color: white !important;
  background: white !important;
  opacity: 100% !important;
}
.swiper-pagination-bullet-active {
  color: var(--arrowcyan) !important;
  background: var(--arrowcyan) !important;
}

.bgdarklight-right {
  background: linear-gradient(
    134.08deg,
    rgba(217, 217, 217, 0.64) -34.85%,
    rgba(217, 217, 217, 0) 102.07%
  );
}

.bgdarklight-left {
  background: linear-gradient(
    268.17deg,
    rgba(217, 217, 217, 0.64) -34.85%,
    rgba(217, 217, 217, 0) 102.07%
  );
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding-card, 1rem);
  gap: 0rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="url"] {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #000000 !important;
}

@media (max-width: 1024px) {
  .swiper-button-prev {
    display: none !important;
  }

  .swiper-button-next {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 40px !important;
    height: 8px !important;
    border-radius: 0 !important;
    color: white !important;
    background: white !important;
    opacity: 100% !important;
  }
  .swiper-pagination-bullet-active {
    color: var(--arrowcyan) !important;
    background: var(--arrowcyan) !important;
  }
}

@media (min-width: 1920px) {
  .swiper-button-prev {
    margin-left: 110px !important;
    color: black !important;
    border: 50px solid var(--arrowcyan) !important;
    border-radius: 100% !important;
  }
  .swiper-button-next {
    margin-right: 110px !important;
    color: black !important;
    border: 50px solid var(--arrowcyan) !important;
    border-radius: 100% !important;
  }
  .swiper-pagination-bullet {
    width: 90px !important;
    height: 12px !important;
    border-radius: 0 !important;
    color: white !important;
    background: white !important;
    opacity: 100% !important;
  }
  .swiper-pagination-bullet-active {
    color: var(--arrowcyan) !important;
    background: var(--arrowcyan) !important;
  }

  .swiper-button-prev::after {
    font-size: 40px !important;
  }
  .swiper-button-next::after {
    font-size: 40px !important;
  }
}

@media (min-width: 2560px) {
  #link-in-the-chain {
    transform: translateX(300px);
  }
  #xxl-discovery {
    transform: translateX(200px);
  }
  #xxl-deploy {
    transform: translateX(-200px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  background: transparent;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.scroll-down nav {
  transform: translate3d(0, -100%, 0);
}

.scroll-up nav {
  filter: drop-shadow(0 -10px 20px);
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 500ms ease-in-out;
}
