@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkcyan: #128dba;
  --lightcyan: #4eebf4;
  --darkgray: #101010;
  --lightercyan: #1794bf;
  --lightestcyan: #49e2ef;
  --arrowcyan: #47dfed;
  --lightgray: #d9d9d9;
}

.swiper-button-prev {
  margin-left: 180px !important;
  color: var(--arrowcyan) !important;
}
.swiper-button-next {
  margin-right: 180px !important;
  color: var(--arrowcyan) !important;
}

.swiper-pagination-bullet {
  width: 65px !important;
  height: 8px !important;
  border-radius: 0 !important;
  color: white !important;
  background: white !important;
  opacity: 100% !important;
}
.swiper-pagination-bullet-active {
  color: var(--arrowcyan) !important;
  background: var(--arrowcyan) !important;
}

.bgdarklight-right {
  background: linear-gradient(
    134.08deg,
    rgba(217, 217, 217, 0.64) -34.85%,
    rgba(217, 217, 217, 0) 102.07%
  );
}

.bgdarklight-left {
  background: linear-gradient(
    268.17deg,
    rgba(217, 217, 217, 0.64) -34.85%,
    rgba(217, 217, 217, 0) 102.07%
  );
}

.card-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: var(--padding-card, 1rem);
  gap: 0rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
